.container, .content_container {
    width: 100%;
    height: 100%;
    max-height: 90vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.side_scroll_container {
    width: 80vh;
    background-color: white;
    transform:rotate(-90deg) translateY(-70vw);
    transform-origin: right top;
    overflow-y: auto;
    overflow-x: hidden;
    height: 5000px;
    padding: 50vw 0;
    margin-top:30px
}

.side_scroll_container::-webkit-scrollbar {
    display: none;
}

.inner_container{
    position: relative;
    top: -400px;
}